<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_abtests</key>
	<dict>
		<key>description</key>
		<string>Whether or not to override ABTests</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>websocket_chat</key>
	<dict>
		<key>description</key>
		<string>Activates the websocket chat (only for Chats opened from Product Detail, no from chat conversation list)</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>notifications_replaces_categories</key>
	<dict>
		<key>description</key>
		<string>Replaces categories section by the notifications screen</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>user_ratings</key>
	<dict>
		<key>description</key>
		<string>User can rate other users</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>show_nps_survey</key>
	<dict>
		<key>description</key>
		<string>Show the NPS Survey view a few seconds after opening the app</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>profile_verify_one_button</key>
	<dict>
		<key>description</key>
		<string>Profile: Verify accounts in just one button</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>non_stop_product_detail</key>
	<dict>
		<key>description</key>
		<string>Show list feed after related products in carousel</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>incentivize_posting_a</key>
	<dict>
		<key>description</key>
		<string>Incentivize posting variant A</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>incentivize_posting_b</key>
	<dict>
		<key>description</key>
		<string>Incentivize posting variant B</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>incentivize_posting_c</key>
	<dict>
		<key>description</key>
		<string>Incentivize posting variant C</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>onboarding_permissions_mode</key>
	<dict>
		<key>description</key>
		<string>Permissions type on onboarding. enabled means one button + new images, disabled just one button with old images</string>
		<key>enabled</key>
		<false/>
	</dict>
    <key>fav_no_message</key>
    <dict>
        <key>description</key>
        <string>No message at favorite</string>
        <key>enabled</key>
        <false/>
    </dict>
    <key>fav_notification_pre_message</key>
    <dict>
        <key>description</key>
        <string>Message at favorite with previous notification</string>
        <key>enabled</key>
        <false/>
    </dict>
    <key>fav_direct_message</key>
    <dict>
        <key>description</key>
        <string>Direct message at favorite</string>
        <key>enabled</key>
        <false/>
    </dict>
	<key>no_express_chat</key>
	<dict>
		<key>description</key>
		<string>Don&apos;t show express chat</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>contact_x_sellers_express_chat</key>
	<dict>
		<key>description</key>
		<string>Express chat button text &quot;conatct x sellers&quot;</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>ask_available_express_chat</key>
	<dict>
		<key>description</key>
		<string>Express chat button text &quot;is still available?&quot;</string>
		<key>enabled</key>
		<false/>
	</dict>
</dict>
</plist>
