<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_abtests</key>
	<dict>
		<key>description</key>
		<string>Whether or not to override ABTests</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>websocket_chat</key>
	<dict>
		<key>description</key>
		<string>Activates the websocket chat (only for Chats opened from Product Detail, no from chat conversation list)</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>notifications_replaces_categories</key>
	<dict>
		<key>description</key>
		<string>Replaces categories section by the notifications screen</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>user_ratings</key>
	<dict>
		<key>description</key>
		<string>User can rate other users</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>big_favorite_icon</key>
	<dict>
		<key>description</key>
		<string>Bigger favorite icon in product detail</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>direct_stickers_on_product</key>
	<dict>
		<key>description</key>
		<string>Show stickers button on product detail</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>new_post_details</key>
	<dict>
		<key>description</key>
		<string>Whether to use or not the new posting details</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>new_post_details_steps</key>
	<dict>
		<key>description</key>
		<string>When using posting details whether to use steps or All in one</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>show_nps_survey</key>
	<dict>
		<key>description</key>
		<string>Show the NPS Survey view a few seconds after opening the app</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>show_invite_heart_icon</key>
	<dict>
		<key>description</key>
		<string>Show Text or Heart Icon In Main product list left bar button</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>profile_verify_one_button</key>
	<dict>
		<key>description</key>
		<string>Profile: Verify accounts in just one button</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>non_stop_product_detail</key>
	<dict>
		<key>description</key>
		<string>Show list feed after related products in carousel</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>incentivize_posting_a</key>
	<dict>
		<key>description</key>
		<string>Incentivize posting variant A</string>
		<key>enabled</key>
		<false/>
	</dict>
		<key>incentivize_posting_b</key>
	<dict>
		<key>description</key>
		<string>Incentivize posting variant B</string>
		<key>enabled</key>
		<false/>
	</dict>
		<key>incentivize_posting_c</key>
	<dict>
		<key>description</key>
		<string>Incentivize posting variant C</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>onboarding_permissions_mode</key>
	<dict>
		<key>description</key>
		<string>Permissions type on onboarding. enabled means one button + new images, disabled just one button with old images</string>
		<key>enabled</key>
		<false/>
	</dict>
</dict>
</plist>
