<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.letgo.com</string>
		<string>applinks:letgo.com</string>
		<string>applinks:*.letgo.com</string>
		<string>applinks:us.letgo.com</string>
		<string>applinks:tr.letgo.com</string>
		<string>applinks:it.letgo.com</string>
		<string>applinks:sv.letgo.com</string>
		<string>applinks:es.letgo.com</string>
		<string>applinks:no.letgo.com</string>
		<string>applinks:ca.letgo.com</string>
		<string>applinks:nl.letgo.com</string>
		<string>applinks:gb.letgo.com</string>
		<string>applinks:de.letgo.com</string>
		<string>applinks:mx.letgo.com</string>
		<string>applinks:cn.letgo.com</string>
		<string>applinks:au.letgo.com</string>
		<string>applinks:ru.letgo.com</string>
		<string>applinks:sg.letgo.com</string>
		<string>applinks:qa.letgo.com</string>
		<string>applinks:nz.letgo.com</string>
		<string>applinks:ae.letgo.com</string>
		<string>applinks:fr.letgo.com</string>
		<string>applinks:pr.letgo.com</string>
		<string>applinks:hk.letgo.com</string>
		<string>applinks:dk.letgo.com</string>
		<string>applinks:ch.letgo.com</string>
		<string>applinks:iq.letgo.com</string>
		<string>applinks:letgo.onelink.me</string>
		<string>applinks:bnc.lt</string>
		<string>applinks:app.letgo.com</string>
	</array>
</dict>
</plist>
